---
import PageContainer from "../../components/ui/PageContainer.astro"
import AvailabilityDecode from "../../components/AvailabilityDecode"

const Director = [{
    POSITION: "vACC Director",
    CID: 1384322,
    NAME: "Daniel Dahl Andersen",
    EMAIL: "director@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "vACC Director",
    COUNTRY: "DK",
    AVATAR: "/img/staff/dda.jpg"
}]
const Training = [
{
    POSITION: "Training Manager Sweden",
    CID: 1586141,
    NAME: "Niklas Thell",
    EMAIL: "training-sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "SE",
    AVATAR: "/img/staff/nthell.webp"
},
{
    POSITION: "Training Manager Denmark",
    CID: 1447687,
    NAME: "Thomas Brøgger",
    EMAIL: "training-denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "DK",
    AVATAR: "/img/staff/broeggeren.webp"
},
{
    POSITION: "Training Manager Norway",
    CID: 1621930,
    NAME: "Marius Linge",
    EMAIL: "training-norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "NO",
    AVATAR: "/img/staff/mlinge.webp"
},
{
    POSITION: "Training Manager Finland",
    CID: 1339541,
    NAME: "Otto Tuhkunen",
    EMAIL: "training-finland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "FI",
    AVATAR: "/img/staff/otuhkunen.webp"
},
{
    POSITION: "Training Manager Iceland",
    CID: 1196137,
    NAME: "Kieran Riley",
    EMAIL: "training-iceland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "IS",
},
{
    POSITION: "Training Assistant Sweden",
    CID: 1438661,
    NAME: "Ansgar Oedman",
    EMAIL: "training-sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "SE"
},
{
    POSITION: "Training Assistant Denmark",
    CID: 1336291,
    NAME: "Jakob Ek Jensen",
    EMAIL: "training-denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "DK"
},
{
    POSITION: "Training Assistant Norway",
    CID: 1616021,
    NAME: "Eskil Moen",
    EMAIL: "training-norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "NO"
}
]
const Board = [
    {
    POSITION: "Training Director",
    CID: 1602589,
    NAME: "Jeppe Seier",
    EMAIL: "training-director@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Copenhagen FIR",
    CID: 1226374,
    NAME: "Lukas Agerskov",
    EMAIL: "denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Board of Directors",
    AVATAR: "/img/staff/lagerskov.webp"
},
{
    POSITION: "Director of Polaris FIR",
    CID: 1339353,
    NAME: "Adrian Bjerke",
    EMAIL: "norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Sweden FIR",
    CID: 811805,
    NAME: "Martin Loxbo",
    EMAIL: "sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "SE",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Helsinki FIR",
    CID: 1495200,
    NAME: "Mika Hellgren",
    EMAIL: "finland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "FI",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Reykjavík CTA",
    CID: 1404194,
    NAME: "Andrew Hobbs",
    EMAIL: "iceland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "IS",
    DEPARTMENT: "Board of Directors",
    AVATAR: "/img/staff/ahobbs.webp"
}
]
const Technical = [
{
    POSITION: "Technical Manager",
    CID: 1352906,
    NAME: "Daniel Lange",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1512667,
    NAME: "Thor Høgås",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Tech Team",
    AVATAR: "/img/staff/thogas.webp"
},
{
    POSITION: "Technical Assistant",
    CID: 1419105,
    NAME: "David Mortensen",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1401513,
    NAME: "Markus Nielsen",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1581824,
    NAME: "Simon Bjerre",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Tech Team",
    AVATAR: "/img/staff/sbjerre.webp"
},
{
    POSITION: "Data Protection Officer",
    CID: 1203470,
    NAME: "Henrik Sønstebø",
    EMAIL: "dpo@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Tech Team",
}
]
const Event = [
{
    POSITION: "Event Manager",
    CID: 1338009,
    NAME: "Martin Thorsteinsson",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Event Department",
    AVATAR: "/img/staff/mhorsteinsson.webp"
},
{
    POSITION: "Event Assistant Sweden",
    CID: 1480664,
    NAME: "Marcus Lundelin",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "SE",
    DEPARTMENT: "Event Department",
},
{
    POSITION: "Event Assistant Denmark",
    CID: 1745220,
    NAME: "Jesper Hvenegaard",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Event Department",
    AVATAR: "/img/staff/jhvenegaard.webp"
},
{
    POSITION: "Event Assistant Norway",
    CID: 1462126,
    NAME: "Ask Erikstad",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Event Department",
},
{
    POSITION: "Event Assistant Finland",
    CID: 1458761,
    NAME: "Henri Luiro",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "FI",
    DEPARTMENT: "Event Department",
},
{
    POSITION: "Event Assistant Iceland",
    CID: 1721961,
    NAME: "Florence Véran",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "IS",
    DEPARTMENT: "Event Department",
}
]
const Pilot = [
{
    POSITION: "Pilot Training Manager",
    CID: 1459173,
    NAME: "Tim Krockel",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "FI",
    DEPARTMENT: "Pilot Training",
    AVATAR: "/img/staff/tkrockel.webp"
},
{
    POSITION: "Deputy Chief Flight Instructor",
    CID: 1193177,
    NAME: "Vincent Matsuuke",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "FI",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Chief Flight Instructor Iceland",
    CID: 0,
    NAME: "Vacant",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "VAC",
    COUNTRY: "IS",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Chief Flight Instructor Denmark",
    CID: 0,
    NAME: "Vacant",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "VAC",
    COUNTRY: "DK",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Chief Flight Instructor Norway",
    CID: 1490886,
    NAME: "Koen Batist",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Chief Flight Instructor Sweden",
    CID: 1765290,
    NAME: "Johan Sjölin",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "SE",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Chief Flight Instructor Finland",
    CID: 1287572,
    NAME: "Ville-Valtteri Veikkolainen",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "FI",
    DEPARTMENT: "Pilot Training",
}
]

const StaffArray = [Director, Board, Training, Technical, Event, Pilot]
---
<PageContainer SiteTitle="Staff">
    <h1 class="text-4xl font-semibold mt-8 mb-4"> Staff</h1>
    <p>Meet the dedicated individuals who make VATSIM Scandinavia a great community. <br/>
    For feedback please use our dedicated feedback form! <a href="https://vatsca.org/feedback" target="_blank" class="text-blue-600 font-semibold">Here <svg 
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width="10px"
        style={{display: "inline"}}
        >
        <path 
        fill="currentColor"
        d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/>
    </svg></a></p>
    <div class="flex flex-col gap-4 content-center justify-center my-12">
    {StaffArray.map((department, depIdx) => (
        <div key={depIdx} class="w-full">
            <h2 class="text-2xl font-bold mb-2 mt-6 text-center">{department[0]?.DEPARTMENT}</h2>
            <div class="flex flex-wrap gap-2 pb-12 justify-center">
                {department.map((staff, idx) => (
                    <card class="bg-white dark:bg-secondary w-[24rem] h-24 rounded flex p-2 gap-2 shadow items-center justify-center relative" key={idx}>
                        <img src={typeof staff.AVATAR !== "undefined" && staff.AVATAR ? staff.AVATAR : '/img/avatar.jpg'} alt="" class="aspect-square w-20 h-20 rounded object-cover" />
                        <div class="w-full h-full flex flex-col ">
                            <p class="text-sm text-gray-500 dark:text-gray-300 font-medium">{staff.CID ? staff.CID : 'N/A'}</p>
                            <p class="text-lg font-medium -mt-1">{staff.NAME ? staff.NAME : 'N/A'} <img src={`/img/icons/${staff.COUNTRY}.svg`} class="w-4 h-auto inline-block"></p>
                            <p class="text-sm font-medium -mt-1">{staff.POSITION}</p>
                            <p class="text-sm mt-1">{staff.EMAIL}</p>
                            <span class="absolute top-2 right-2 text-xs text-gray-500"><AvailabilityDecode Availability={staff.AVILABILITY} /></span>
                        </div>
                    </card>
                ))}
            </div>
        </div>
    ))}
    </div>


</PageContainer>
