---
import PageContainer from "../../components/ui/PageContainer.astro"
import AvailabilityDecode from "../../components/AvailabilityDecode"

const Director = [{
    POSITION: "vACC Director",
    CID: 1384322,
    NAME: "Daniel Dahl Andersen",
    EMAIL: "director@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Board of Directors",
    COUNTRY: "DK",
    AVATAR: "/img/staff/dda.jpg"
}]
const Training = [
{
    POSITION: "Training Manager Sweden",
    CID: 1621930,
    NAME: "Niklas Thell",
    EMAIL: "training-sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "SE",
    AVATAR: "/img/staff/nthell.webp"
},
{
    POSITION: "Training Manager Denmark",
    CID: 1447687,
    NAME: "Thomas Brøgger",
    EMAIL: "training-denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "DK",
    AVATAR: "/img/staff/broeggeren.webp"
},
{
    POSITION: "Training Manager Norway",
    CID: 1559031,
    NAME: "Marius Linge",
    EMAIL: "training-norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "NO",
},
{
    POSITION: "Training Manager Finland",
    CID: 1339541,
    NAME: "Otto Tuhkunen",
    EMAIL: "training-finland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "FI",
    AVATAR: "/img/staff/otuhkunen.webp"
},
{
    POSITION: "Training Manager Iceland",
    CID: 1196137,
    NAME: "Kieran Riley",
    EMAIL: "training-iceland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "IS",
},
{
    POSITION: "Training Assistant Sweden",
    CID: "",
    NAME: "",
    EMAIL: "training-sweden@vatsim-scandinavia.org",
    AVILABILITY: "VAC",
    DEPARTMENT: "Training",
    COUNTRY: "EU"
},
{
    POSITION: "Training Assistant Denmark",
    CID: 1336291,
    NAME: "Jakob Ek Jensen",
    EMAIL: "training-denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    DEPARTMENT: "Training",
    COUNTRY: "DK"
},
{
    POSITION: "Training Assistant Norway",
    CID: "",
    NAME: "",
    EMAIL: "training-norway@vatsim-scandinavia.org",
    AVILABILITY: "VAC",
    DEPARTMENT: "Training",
    COUNTRY: "EU"
}
]
const Board = [
    {
    POSITION: "Training Director",
    CID: 1602589,
    NAME: "Jeppe Seier",
    EMAIL: "training-director@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Copenhagen FIR",
    CID: 1226374,
    NAME: "Lukas Agerskov",
    EMAIL: "denmark@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Board of Directors",
    AVATAR: "/img/staff/lagerskov.webp"
},
{
    POSITION: "Director of Polaris FIR",
    CID: 1339353,
    NAME: "Adrian Bjerke",
    EMAIL: "norway@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Sweden FIR",
    CID: 811805,
    NAME: "Martin Loxbo",
    EMAIL: "sweden@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "SE",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Helsinki FIR",
    CID: "",
    NAME: "",
    EMAIL: "finland@vatsim-scandinavia.org",
    AVILABILITY: "VAC",
    COUNTRY: "EU",
    DEPARTMENT: "Board of Directors",
},
{
    POSITION: "Director of Reykjavík CTA",
    CID: 1404194,
    NAME: "Andrew Hobbs",
    EMAIL: "iceland@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "IS",
    DEPARTMENT: "Board of Directors",
    AVATAR: "/img/staff/ahobbs.webp"
}
]
const Technical = [
{
    POSITION: "Technical Manager",
    CID: 1352906,
    NAME: "Daniel Lange",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1512667,
    NAME: "Thor Høgås",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1419105,
    NAME: "David Mortensen",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1401513,
    NAME: "Markus Nielsen",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Tech Team",
},
{
    POSITION: "Technical Assistant",
    CID: 1581824,
    NAME: "Simon Bjerre",
    EMAIL: "tech@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Tech Team",
    AVATAR: "/img/staff/sbjerre.jpg"
},
{
    POSITION: "Data Protection Officer",
    CID: 1203470,
    NAME: "Henrik Sønstebø",
    EMAIL: "dpo@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "SE",
    DEPARTMENT: "Tech Team",
}
]
const Event = [
{
    POSITION: "Event Manager",
    CID: 1338009,
    NAME: "Martin Thorsteinsson",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Event Department",
    AVATAR: "/img/staff/mhorsteinsson.webp"
},
{
    POSITION: "Event Assistant Sweden",
    CID: 1480664,
    NAME: "Marcus Lundelin",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "SE",
    DEPARTMENT: "Event Department",
},
{
    POSITION: "Event Assistant Denmark",
    CID: 1745220,
    NAME: "Jesper Hvenegaard",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "DK",
    DEPARTMENT: "Event Department",
    AVATAR: "/img/staff/jhvenegaard.webp"
},
{
    POSITION: "Event Assistant Norway",
    CID: 1462126,
    NAME: "Ask Erikstad",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "NO",
    DEPARTMENT: "Event Department",
},
{
    POSITION: "Event Assistant Finland",
    CID: 1458761,
    NAME: "Henri Luiro",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "FI",
    DEPARTMENT: "Event Department",
},
{
    POSITION: "Event Assistant Iceland",
    CID: 1721961,
    NAME: "Florence Véran",
    EMAIL: "event@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "IS",
    DEPARTMENT: "Event Department",
}
]
const Pilot = [
{
    POSITION: "Pilot Training Manager",
    CID: 1459173,
    NAME: "Tim Krockel",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "EU",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Chief Flight Instructor",
    CID: 1358735,
    NAME: "Arttu Uusi-Kyyny",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "EU",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Deputy Chief Flight Instructor",
    CID: 1193177,
    NAME: "Vincent Matsuuke",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "EU",
    DEPARTMENT: "Pilot Training",
},
{
    POSITION: "Acting Pilot Training Manager",
    CID: 1480445,
    NAME: "Tiitus Ehiarinmwian",
    EMAIL: "pilot-training@vatsim-scandinavia.org",
    AVILABILITY: "AVL",
    COUNTRY: "EU",
    DEPARTMENT: "Pilot Training",
}
]

const StaffArray = [Director, Board, Training, Technical, Event, Pilot]
---
<PageContainer SiteTitle="Staff">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 content-center items-center justify-center align-middle">
    {StaffArray.map((department, depIdx) => (
        <div key={depIdx} class="col-span-full">
            <h2 class="text-xl font-bold mb-2 mt-6">{department[0]?.DEPARTMENT}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
                {department.map((staff, idx) => (
                    <card class="bg-white dark:bg-secondary w-[24rem] h-24 rounded flex p-2 gap-2 shadow items-center justify-center mx-auto relative" key={idx}>
                        <img src={typeof staff.AVATAR !== "undefined" && staff.AVATAR ? staff.AVATAR : '/img/avatar.jpg'} alt="" class="aspect-square w-20 h-20 rounded object-cover" />
                        <div class="w-full h-full flex flex-col ">
                            <p class="text-sm text-gray-500 dark:text-gray-300 font-medium">{staff.CID ? staff.CID : 'N/A'}</p>
                            <p class="text-lg font-medium -mt-1">{staff.NAME ? staff.NAME : 'N/A'} <img src={`/img/icons/${staff.COUNTRY}.svg`} class="w-4 h-auto inline-block"></p>
                            <p class="text-sm font-medium -mt-1">{staff.POSITION}</p>
                            <p class="text-sm mt-1">{staff.EMAIL}</p>
                            <span class="absolute top-2 right-2 text-xs text-gray-500"><AvailabilityDecode Availability={staff.AVILABILITY} /></span>
                        </div>
                    </card>
                ))}
            </div>
        </div>
    ))}
    </div>


</PageContainer>
